@media screen and (max-width : 430px) {
    .count-box > p {
        font-size: 2em;
    }
    .count-box > h5 {
        text-align: center;
        font-size: 1em;
        color: rgb(88, 133, 0);
    }
}

@media screen and (max-width : 325px) {
    .count-box > h5 {
        text-align: center;
        font-size: 0.8em;
        color: rgb(88, 133, 0);
    }
}